.profile-photo-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  background-size: 100%;
  margin: 0 auto;
  position: relative;
}

.edit-icon {
  background-color: #fff;
  color: #333;
  padding: 5px;
  border-radius: 50%;
}

.inp {
  position: absolute;
  clip: rect(1, 1, 0, 0);
  pointer-events: none;
}

.inp::before {
  content: "Choose file";
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.inp::after {
  content: attr(data-name);
  display: inline-block;
  margin-left: 10px;
}

.edit-icon i {
  font-size: 100%;
}

.bottom-0 {
  bottom: 0;
}

.end-0 {
  right: 0;
}
.profile-photo-circle-comment {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-size: cover;
  background-position: center;
  display: inline-block;
  margin-right: 8px;
}
.profile-name {
  text-align: center;
  margin-top: 16px;
}
.profile-actions {
  margin: 20px;
}
.btnChangeProfile {
  margin: 20px;
}
.btnChangePassword {
  margin: 20px;
}
