.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(43, 93, 134);
  color: aliceblue;
  /* background-image: url("../../../assets/back.jpg");
  background-size: cover;
  background-position: center; */
}
.sidebar[_ngcontent-serverApp-c114] .nav-link[_ngcontent-serverApp-c114] {
}
.sidebar[_ngcontent-serverApp-c114]
  .nav-link.active[_ngcontent-serverApp-c114] {
  color: #ffffff;
}
.sidebar[_ngcontent-serverApp-c115]
  .nav-link[_ngcontent-serverApp-c115].nav-link.active {
  font-weight: 500;
  color: rgb(9, 118, 207);
}
.sidebar[_ngcontent-serverApp-c115] .nav-link[_ngcontent-serverApp-c115] {
}
/* .sidebar[_ngcontent-serverApp-c114] .nav-link[_ngcontent-serverApp-c114] {
  font-weight: 500;
  color: #f1f1f1;
} */
.sidebar.nav-link.active {
  color: #0026ff;
}
.sidebar[_ngcontent-serverApp-c114] .nav-link[_ngcontent-serverApp-c114] {
  font-weight: 500;
  color: #0b275a;
}
.Aside {
}
.sidebar[_ngcontent-serverApp-c111] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: 16px 20px 20px 8px rgba(0, 0, 0, 0.1);
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #007bff;
}
.profile-photo-circle-Header {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3135/3135715.png");
  /* background-color: #ccc; */
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin-right: 8px;
}
.profile-header {
  margin-bottom: 20px;
}
