<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form>
        <div class="form-group">
          <label for="image-upload" class="upload-label">
            <i class="bi bi-image"></i> Upload Image
          </label>
          <div class="custom-file">
            <input
              class="custom-file-input"
              id="customFile"
              type="file"
              id="image-upload"
              accept="image/*"
              (change)="selectFiles($event)"
              style="display: none"
            />
          </div>
          <div class="image-preview">
            <img *ngIf="imgPerview" [src]="imgPerview" class="preview" />
          </div>
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            rows="7"
            placeholder="Enter your post here"
            [(ngModel)]="Post.Paragraph"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="addPost()"
          [disabled]="addPostDisable()"
        >
          Add Post
        </button>
      </form>
    </div>
  </div>
</div>
