<div class="container-fluid Pop">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
      <h2>Activate Your Account <i class="bi bi-envelope"></i></h2>
      <form class="form-container">
        <div class="form-group">
          <label>
            Please Go To Inbox in {{ Email }} And Follow The Link To Activate
            Your Account</label
          >
          <button (click)="onLoginClick()" class="btn btn-primary btn-block">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
