<div class="container-fluid" style="background-color: rgb(255, 255, 255)">
  <div class="row">
    <div class="col-lg-2 col-md-1 col-sm-0 col-xs-0">
      <app-asidebar> </app-asidebar>
    </div>
    <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12">
      <app-main-navbar> </app-main-navbar>
      <ngx-spinner
        ><div class="spinner-border text-primary" role="status">
          <!-- <span class="sr-only">Loading...</span> -->
        </div></ngx-spinner
      >
      <router-outlet class="Post"></router-outlet>
    </div>
  </div>
</div>
