.form-container {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: rgb(43, 93, 134);
  color: aliceblue;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-container label {
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  border-radius: 0.5rem;
}

.form-container .form-group {
  margin-bottom: 1.5rem;
}

.form-container .text-danger {
  color: red;
}

.form-container button[type="submit"] {
  margin-top: 1.5rem;
}

.form-row {
  margin-bottom: 1.5rem;
}

@media (max-width: 767.98px) {
  .form-row {
    display: flex;
    flex-direction: column;
  }

  .form-row .form-group {
    margin-bottom: 0.5rem;
  }
}
