<div class="container form-container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <form [formGroup]="RegForm" (submit)="onSubmit()">
        <h2 class="text-center mb-4">Register</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="firstName"
                >First name<span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="First"
                placeholder="Enter first name"
                (input)="onInputChange('First')"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="lastName"
                >Last name<span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="Last"
                placeholder="Enter last name"
                (input)="onInputChange('Last')"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="Middle">Middle name</label>
              <input
                type="text"
                class="form-control"
                formControlName="Middle"
                placeholder="Enter middle name"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="Dob"
            >Date of birth<span class="text-danger">*</span></label
          >
          <input
            type="date"
            class="form-control"
            formControlName="Dob"
            (input)="onInputChange('Dob')"
          />
        </div>
        <div class="form-group">
          <label for="Email"
            >Email address<span class="text-danger">*</span></label
          >
          <input
            type="email"
            class="form-control"
            formControlName="Email"
            placeholder="Enter email"
            (input)="onInputChange('Email')"
          />
        </div>
        <div class="form-group">
          <label for="Pass1">Password<span class="text-danger">*</span></label>
          <input
            type="password"
            class="form-control"
            formControlName="Pass1"
            placeholder="Password"
            (input)="onInputChange('Pass1')"
          />
        </div>
        <div class="form-group">
          <label for="Pass2"
            >Confirm password<span class="text-danger">*</span></label
          >
          <input
            type="password"
            class="form-control"
            formControlName="Pass2"
            placeholder="Confirm password"
            (input)="onInputChange('Pass2')"
          />
        </div>
        <!-- <div class="form-group">
          <label>Verification <span class="text-danger">*</span></label>
          <ngx-recaptcha2
            #captchaElem
            [siteKey]="siteKey"
            formControlName="recaptcha"
          ></ngx-recaptcha2>
        </div> -->
        <div class="form-group text-center">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="RegForm.invalid"
          >
            Register
          </button>
        </div>
        <div class="text-center">
          <p>Already have an account? <a href="/auth/login">Login Here</a>.</p>
        </div>
      </form>
    </div>
  </div>
</div>
