<div class="row justify-content-between align-items-center">
  <div
    class="d-flex align-items-center justify-content-between w-100"
    dir="ltr"
  >
    <button
      class="navbar-toggler d-lg-none col-sm-1 col-xs-2"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list" style="font-size: 150%"></i>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/Main/home']"
            routerLinkActive="active"
          >
            <i class="bi bi-house-door-fill"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/Main/Profile']"
            routerLinkActive="active"
          >
            <i class="bi bi-person-lines-fill"></i> Profile
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/Main/AddPost']"
            routerLinkActive="active"
          >
            <i class="bi bi-file-earmark-post"></i> Add Post
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1 d-flex align-items-end">
      <div class="align-self-end d-flex logout p-2 ml-auto">
        <a (click)="logOut()" class="btn btn-danger">
          <span class="glyphicon glyphicon-log-out"></span>
          <a style="font-weight: bold">
            <i class="bi bi-box-arrow-right"></i> Log out
          </a>
        </a>
      </div>
    </div>
  </div>
</div>
